
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
      
      
  }
  
  header {
    background-color: rgb(116, 21, 84);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding: 4rem;
    text-align: center;
    
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
  }
  
    .gallery-item img {
        width: 100%;
        height: 200px; 
        object-fit: cover; 
        border-radius: 8px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;    
  }
  
  .gallery-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  }
  
  main {
    flex: 1; 
  }
  footer {
    text-align: center;
    padding: 2.5rem;
    background-color: rgb(116, 21, 84);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  